.modal{
    .care--modal-close__wrapper{
        color:#fff;
        border: 0 none !important;
        background-color: transparent;
        height: 2rem;
        margin-top: -2rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    button.btn-close{
        position: absolute;
        margin-top: -3rem;
        background-color: transparent !important;
        padding: 0.25rem !important;
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        border: none;
        &:hover{
            border-color: transparent;
            outline-color: transparent;
        }
    }
    .modal-content{
        border: none
    }

    &#modalLogin{
        button.login{
            margin-top: 2rem;
        }
    }
    &#bookingModal{
        .modal-dialog{
            text-align: left
        }
        .modal-body>.row>div{
            padding: 3rem;
        }
        .booking-form{
            h4{
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
            .form-check{
                margin-right: 1rem;
            }
            .react-datepicker__input-container input, .react-datepicker-ignore-onclickoutside{
                padding: 1rem;
                outline: none;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
            }
        }
        #bookingDatepicker{
            z-index: 1;
            max-width: 240px;
        }
        .booking-summary{
            border-bottom-right-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            background-color: $CARE_BLACK;
            margin: 0;
            display: flex;
            align-items: center;
            
            h3, h2, h4{
                color: #fff;
            }
            
            .booking-summary-meta{
                text-align: center;
                h4{
                    font-size: 1.5rem;
                    font-weight: 100;
                }
            }
            .partner-details{
                display: flex;
                align-items: center;
                background-color: $CARE_SHADOW;
                padding: 1rem;
                border-radius: 0.5rem;
                margin-bottom: 1rem;
                strong, p{
                    color: $CARE_LIGHT;
                }
                .img-holder{
                    height: 5rem;
                    width: 5rem;
                    min-height: 5rem;
                    min-width: 5rem;
                    border-radius: 5rem;
                    margin-right: 0.5rem;
                    overflow: hidden;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }

    }

}
#ui-datepicker-div{
    filter: drop-shadow(12px 12px 40px $CARE_DARK)
}