.care-partner-card{
    display: flex;
    padding: 0;
    box-shadow: 1rem 1rem 1rem $CARE_SHADOW;
    margin-bottom: 1rem;
    .image{
        width: 50%;
        img{
            width: 100%;
            min-width: 10rem;
        }
    }
    .meta__outter{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .meta{
        width: 100%;
        display: block;
        padding: 1rem;
        text-align: center;
        li{
            list-style: none;
            display: inline;
        }
    }
}