#CareHome{
    .careio-partner-catalogue{
        h2{
            font-height: 18px;
        }
        .partner-services{
            list-style: none;
            font-size: 14px;
            display: inline-block;

        }
    }
}