// import care variables ex: $CARE_GREEN
@import "./utils-colors.scss";

// this imports home styling
@import "./layout-home.scss";

// this import components styling
@import "./components/layout-modals.scss", "./components/partner-card.scss";

// import nav styling
@import "./nav.scss";

* {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #666;
    font-weight: 400;
    h1, h2, h3, h4, h5{
        color: $CARE_DARK;
    }
}