// import care variables ex: $CARE_GREEN
@import "./utils-colors.scss";

// this imports layout styling
@import "./layout-home.scss", "./components/layout-modals.scss"; 

// this import components styling
@import  "./components/partner-card.scss" ; // <- @SAL INCLUDE HERE 

// import nav styling
@import "./nav.scss";

* {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #666;
    font-weight: 400;
    h1, h2, h3, h4, h5{
        color: $CARE_DARK;
    }
    
}