* {
    font-family: 'Roboto', sans-serif;
}

#container-01 {
    display: flex;
    flex-direction: row;
}

.signupInfo {
    width: 45%;
    /* background-image: url(../images/image\ 6.png); */
    padding: 100px 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupInfo-headertext h1 {
    font-size: 3em;
    font-weight: 100;
}

.signupInfo-headertext {
}

.signupInfo-textbox1, .signupInfo-textbox2 {
    margin: 5%;
}

.signupForm {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formElementsContainer {
    background-color: #F7F7F2;
    padding: 3em;
}

.formElementsContainer input {
    margin: 25px 30px;
    padding: 10px;
}

#inputAddress {
    width: 80%;
}

.signupForm button {
    padding: 1em;
    border-radius: 10px;
}

#signupFreeBtn {
    background-color: #5EAB91;
}

#signupPremiumBtn {
    background-color: #3C4F75;
}

#signupFreeBtn, #signupPremiumBtn {
    width: 40%;
    margin: 3em 2em;
    color: white;
    border: none;
}