$CARE_GREEN: #5FAB8F;
$CARE_GREEN_BRIGHT: #3DCF9E;
$CARE_PURPLE: #3C4F75;
$CARE_PURPLE_BRIGHT: #325AA9;
$CARE_PURPLE_BRIGHT_LT: #92B6FF;
$CARE_BLACK: #111111; 
$CARE_DARK: #282D37 ;
$CARE_LIGHTEST: #F7F7F2;
$CARE_LIGHT: #BEBEBE;